*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* Custom Properties */

:root{
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --ff-third: 'Dancing Script', italic;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-f-dark: #303030;
  --clr-f-light: #ffffff;

  --clr-light: #fff;
  --clr-dark: #6f9784;
  --clr-accent-one: #8be4ba;
  --clr-accent-two: #e0d4eb;
  --clr-accent-three: #876f9e;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.75rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 2rem;
      --fs-body: 1.125rem;
  }
}

/* General styles */

html{
  scroll-behavior: smooth;
}


body{
  background: var(--clr-light);
  color: var(--clr-f-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section{
  padding: 1.5em 2em;
}

img{
  display: block;
  max-width: 100%;
}

@media (min-width: 1200px) {
  section{
    padding: 3em 3em;
  }
}

/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.hero-title{
  font-family: var(--ff-secondary);
  color: var(--clr-f-light);
}

.hero-subtitle{
  font-family: var(--ff-third);
  color: var(--clr-f-light);
  font-weight: var(--fw-bold);
  margin-top: 0.5em;

}

.section__title{
    margin-bottom: .25em;
}


.section__subtitle{
    margin: 0;
    font-size: var(--fs-body);
}

.section__subtitle--intro,
.section__subtitle--about{
    padding: .25em 0em;
    margin-bottom: 1em;
}

.section__subtitle--blog{
  padding: .25em 0em;
  margin-bottom: 1.5em;
}

/* Header */

header{
  display: flex;
  justify-content: flex-end;
}

.navbar{
  display: flex;
  
}

.nav__list{
  display: flex;
}

.nav__list li{
  list-style: none;
}

.nav__list a{
  display: inline-block;
  text-decoration: none;
  padding:  0.5rem 1rem;
  color: var(--clr-f-dark);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}

.nav__list li a:hover,
.nav__list li a:focus{
    text-decoration: underline;
}

.active{
  background-color: #e0d4eb;
}

/* Hero Section */
.hero{
  background-color: teal;
  text-align: center;
  background-size: cover;
  background-position: center right;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (min-width: 800px) {
  .hero{
    height: 40vh;
  }
}


/* Introduction */
.intro{
  margin-top: 1em;
}

@media (min-width: 600px) {
  .intro{
    max-width: 80%;
  }
}



/* About me */
.about-me__body{
  margin-bottom: 2em;
}

.about-me__img{
  max-width: 100%;
}

img{
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me__img{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 800px) {
  .about-me{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:
      "title img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about{
    grid-area: title;
  }

  .about-me__body{
    grid-area: text;
  }

  .about-me__img{
    grid-area: img;
    display: flex;
    align-self: flex-start;
    max-width: 100%; 
  }
 
}

@media (min-width: 1200px) {
  .about-me__img{
    max-width: 60%; 
  }
}


/* Blog */

.blog{
  height: 50vh;
  background-color: #e0d4eb;
  font-family: var(--ff-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.sidebar__title{
  margin-bottom: 1em;
  font-family: var(--ff-secondary);
}


.blog-entry__item{
  display: block;
  padding-left: 0.5em;
  color: var(--clr-f-dark);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.8;
  transition: transform 200ms ease-in-out;
}
.blog-entry__item:hover{
  transform: scale(1.1);
  opacity: 0.5;
}

@media (min-width: 600px) {
 
  .blog{
    margin-top: 2em;
  }
}

@media (min-width: 800px) {
  .blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "my-blog sidebar"
      "my-blog sidebar";
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
  }

  .my-blog{
    grid-area: my-blog;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
      
  }
  .section__subtitle--blog{
    width: 40ch;
  }
}

@media (min-width: 1200px) {
  .section__subtitle--blog{
    width: 60ch;
  }

}

/* Footer */

.footer{
  background: var(--clr-dark);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-body);
}

.footer a{
  text-decoration: none;}

.footer__link {
  font-weight: var(--fw-bold);
  color: var(--clr-light);
  
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  
}

.social-list__item {
  margin: 0 .5em;
  
}

.social-list__link {
  padding: .5em;
  color: var(--clr-f-light);
  
}





