*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties */

:root{
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --ff-third: 'Dancing Script', italic;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-f-dark: #303030;
  --clr-f-light: #ffffff;

  --clr-light: #fff;
  --clr-dark: #6f9784;
  --clr-accent-one: #8be4ba;
  --clr-accent-two: #e0d4eb;
  --clr-accent-three: #876f9e;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 2rem;
      --fs-h4: 1.75rem;
      --fs-body: 1.125rem;
  }
}

/* General styles */

html{
  scroll-behavior: smooth;
}

body{
  background: var(--clr-light);
  color: var(--clr-f-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section{
  padding: 1.5em 2em;
}

@media (min-width: 1200px) {
  section{
    padding: 2em 3em;
  }

  section:nth-child(1){
    padding-top: 3em;
  }
}

img{
  display: block;
  max-width: 100%;
  box-shadow: var(--bs);
}

.printscreen__images{
  width: 600px;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em; 
  box-shadow: var(--bs);
}

/* Typography */

h1,
h2,
h3,
h4{
    line-height: 1.4;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

h4{
  font-size: var(--fs-h4);
  margin-top: 1.7em;
  margin-bottom: 1em;
}

.hero-title{
  font-family: var(--ff-secondary);
  color: var(--clr-f-light);
}

.hero-subtitle{
  font-family: var(--ff-third);
  color: var(--clr-f-light);
  font-weight: var(--fw-bold);
  margin-top: 0.5em;
}

.section__title--intro,
.section__title--about,
.section__title--blog{
  margin-bottom: 0.5em;
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--blog{
    padding: .25em 0em;
    margin-bottom: 1em;
    font-size: var(--fs-body);
    margin-top: 0.25em;
}

/* Styling body - grid*/

body{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50vh auto auto;
  height: 100vh;
  grid-template-areas: 
  'header'
  'hero'
  'main'
  'footer';
}

/* Header */

header{
  grid-area: header;
  display: flex;
  justify-content: flex-end;
}

.navbar{
  display: flex;
}

.nav__list{
  display: flex;
}

.nav__list li{
  list-style: none;
}

.nav__list a{
  display: inline-block;
  text-decoration: none;
  padding:  0.5rem 1rem;
  color: var(--clr-f-dark);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
}

.nav__list li a:hover,
.nav__list li a:focus{
    text-decoration: underline;
}

.active{
  background-color: #e0d4eb;
}

/* Hero Section */

.hero{
  grid-area: hero;
  background-color: teal;
  text-align: center;
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Main */

main{
  grid-area: main;
}

/* Introduction */

.intro{
  margin-top: 1em;
}

@media (min-width: 800px) {
  .section__subtitle--intro,
  .blog-content__body{
    width: 70ch;
  }
}

@media (min-width: 900px) {
  .intro{
    width: 80%;
  }
}


/* About me */

.about-me__body{
  margin-bottom: 2em;
}

.about-me__img{
  max-width: 100%;
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me__img{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 800px) {
  .about-me{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:
      "title img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about{
    grid-area: title;
  }

  .about-me__body{
    grid-area: text;
  }

  .about-me__img{
    grid-area: img;
    display: flex;
    align-self: flex-start;
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  .about-me{
    width: 80%;
  }
}

/* Blog */

.blog{
  background-color: #e0d4eb;
  background-image: url(../images/services-bg.jpg);
  font-family: var(--ff-secondary);
  color: var(--clr-f-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

.sidebar__title{
  margin-bottom: 1em;
  font-family: var(--ff-secondary);
}

.blog-list{
  margin-left: 1.5em;
}

.blog-entry__link{
  display: block;
  padding-left: 0.5em;
  color: var(--clr-f-light);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.8;
  transition: transform 200ms ease-in-out;
}
.blog-entry__link:hover{
  transform: scale(1.1);
  opacity: 0.5;
}

@media (min-width: 600px) {
 
  .blog{
    margin-top: 2em;
  }
}

@media (min-width: 800px) {
  .blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "my-blog sidebar"
      "my-blog sidebar";
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
  }

  .my-blog{
    grid-area: my-blog;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

  .sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section__subtitle--blog{
    width: 40ch;
  }
}

@media (min-width: 1200px) {
  .section__subtitle--blog{
    width: 60ch;
  }
}

/* Footer */

.footer{
  grid-area: footer;
  background: var(--clr-dark);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-body);
}

.footer a{
  text-decoration: none;}

.footer__link {
  font-weight: var(--fw-bold);
  color: var(--clr-light); 
}

.social-list__link:hover {
  opacity: .7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
  color: var(--clr-f-light);
}

/* Blog pages styles */

.paragraph-list{
  margin-left: 2em;

}





